.select-your-pizza {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.btn {
  float: right;
  margin-right: 100px;
  background-color: rgb(94, 198, 233);
  height: 45px;
  width: 160px;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 1px 5px 5px 1px grey;
}
