.pizza-item {
  width: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pizza-item img {
  width: 150px;
  height: 150px;
}

.pizza-item p {
}
